/* --- CARDS --- */
.card-body {
  &.d-flex {
    &.flex-column {
      .stretched-link {
        margin-top: auto;
      }
    }
  }
}

.service-card,
.instructor-card,
.regatta-card {
  display: flex;
  transition:
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.3s ease;
  border: none;
  overflow: hidden;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 11px 14px rgba(0, 0, 0, 0.08) !important;
  }
}

.team-card img {
  height: 320px;
  object-fit: cover;
}

.regatta-card img {
  height: 220px;
  object-fit: cover;
}

.card-title {
  font-size: 1.15rem;
  line-height: 1.5;
}

.team-carousel {
  .instructor-card {
    min-height: 400px;

    .card-body {
      min-height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .card-text {
      flex: 1;
    }
  }
}
